.row {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

/* Style for Movie component */
.movie {
  border: 1px solid #ddd;
  padding: 20px;
  margin: 10px;
  width: 300px;
}

.movie img {
  width: 100%;
  height: auto;
}

.movie h2 {
  margin-bottom: 10px;
}

.movie p {
  font-size: 14px;
  line-height: 1.4;
}
